<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144673690692-n5pcquphssth1d7gkhfe555457vofrqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144673690692-n5pcquphssth1d7gkhfe555457vofrqd</string>
	<key>API_KEY</key>
	<string>AIzaSyD8zqNEqjPTjZi5ChPEbRCyAOyjZSY3U4k</string>
	<key>GCM_SENDER_ID</key>
	<string>144673690692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.aryanGandevia.FitQuick</string>
	<key>PROJECT_ID</key>
	<string>fitquick-123</string>
	<key>STORAGE_BUCKET</key>
	<string>fitquick-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144673690692:ios:51aff292593cb280179811</string>
</dict>
</plist>