<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.144673690692-n5pcquphssth1d7gkhfe555457vofrqd</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>144673690692-n5pcquphssth1d7gkhfe555457vofrqd.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Papyrus.ttc</string>
		<string>ChunkFive-Regular.ttf</string>
	</array>
</dict>
</plist>
